<% data.products.each do |product| %>
  <div class="card-wrapper">
    <div id="<%=product.tag%>Controls" class="carousel slide w-100" data-ride="carousel" data-interval="false" style="text-emphasis: center;">
      <div class="carousel-inner">
        <div class="carousel-item item active" style="text-align: center;">
          <%= image_tag product.cover, class: "project-img", style: "text-align: center;" %>
        </div>
        <%if !product.images.nil?%>
          <% product.images.each do |img| %>
            <div class="carousel-item item" style="text-align: center;" >
              <%= image_tag img, class: "project-img" %>
            </div>
          <% end %>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#<%=product.tag%>Controls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#<%=product.tag%>Controls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="description">
      <div class="body-text">
        <a target="_blank" href="<%=product.url%>" class="link-to-project">
          <p style="color: #037c51;"><b>><%= product.name %></b></p>
          <p style="font-size: 2vh; margin: 0;"><i><%=product.role%></i></p>
          <p style="font-size: 3vh;"></span> <%= product.description %></p>
        </a>
      </div>
      <div class="skills d-flex align-items-center mt-1">
        <% product.skills.each do |skill| %>
          <span>
            <%=skill%>
          </span>
        <% end %>
      </div>
      <a target="_blank" href="<%=product.code%>" class="header-btn mt-2" style="font-size: 16px;">View on GitHub</a>
    </div>
  </div>
<% end %>

